name: Clear Cards in Trello with Newman Final Action Run

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
    types: [opened, synchronize]

jobs:
  Trello-API-Collection-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: matt-ball/newman-action@v1.0.4
        with:
          apiKey: ${{ secrets.MY_API_POSTMAN }}
          collection: 20549885-2b4b09cf-582f-4a79-ae48-9f49b89a4180
          environment: 20549885-fc579da8-f078-4b10-b4d2-cba239f24789
