name: Create Cards in Trello with NewmanAction Run

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
    types: [opened, synchronize]

jobs:
  Create-Cards-Trello-API-Collection-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: matt-ball/newman-action@v1.0.4
        with:
          apiKey: ${{ secrets.MY_API_POSTMAN }}
          collection: 20549885-69fa6280-2b36-4858-8683-2ae902e26459
          environment: 20549885-fc579da8-f078-4b10-b4d2-cba239f24789
